---
import BaseLayout from "../layouts/BaseLayout.astro";
import { Image } from "astro:assets";
---

<BaseLayout title='Zenith 2025'>
   <div class="font-['Poppins'] ztitle">
      <div class='h-[165vh] text-white overflow-hidden text-center relative' style='background-color: #040B16;'>
         <div class='my-[16vh] mx-10 scaleit'>
            <div
               class="text-6xl font-['Space_Grotesk'] font-bold"
               style='margin-top : 30vh ; text-shadow: rgba(255,255,255,0.69) 0px 0px 23px; color: #f0f2ff; opacity: 1'
            >
               Zenith 2025
            </div>
            <p
               class="font-['Instrument_Sans'] max-w-[700px] inline-block text-xl italic coolgradient reveal font-normal"
               style='opacity: 0;'
            >
               Hack to the zenith ✨
            </p>
         </div>
         <div class='flex' style='display: flex;'>
            <div
               class='inline-block h-[210vw] lg:h-[160vw] w-[160vw] bg-white rounded-full m-auto mt-0 absolute left-[calc(50vw-80vw)] coolgradient align-middle strangemoon'
               style='top: calc(100vh - 40vh); box-shadow: -1rem -1rem 4rem #f0f2ff, inset 0 0 8rem #d5d8e8; opacity : 0; margin-top: 10vh; justify-content: center;;'
            >
            </div>
         </div>
      </div>

      <div class='wavydivback bg-gray-950 h-[210vw]'></div>

      <div id='about' class='bg-black text-white'>
         <div class='grid grid-cols-1 md:grid-cols-2 min-h-[400px] p-6'>
            <div class='flex items-center justify-center text-center p-6'>
               <div>
                  <h2 class="text-3xl md:text-4xl font-['Roboto'] leading-7 my-2">Hackathon?</h2>
                  <p class='text-lg md:text-xl'>
                     A hackathon is a social coding marathon where teenagers come together to learn, build, and share their results with the
                     world!
                  </p>
               </div>
            </div>
            <div class='p-6'>
               <Image
                  class='w-full h-auto rounded-lg'
                  src='https://miro.medium.com/v2/resize:fit:7940/1*i5VHWsPa9k-u9ffVz0CQdw.jpeg'
                  alt='Room full of teens'
                  inferSize={true}
               />
            </div>
         </div>

         <div class='grid grid-cols-1 md:grid-cols-2 min-h-[400px] bg-white text-black p-6'>
            <div class='flex items-center justify-center text-center p-6'>
               <img class='rotate-12 w-full h-auto max-w-xs mx-auto' src='/images/globe.png' alt='Image of Earth' />
            </div>
            <div class='flex items-center justify-center text-center p-6'>
               <div>
                  <h2 class="text-3xl md:text-4xl font-['Roboto'] leading-7 my-2">Everyone?</h2>
                  <p class='text-lg md:text-xl'>
                     Too often communities that are less privileged or outside the USA don't get the same opportunities, so we're providing
                     travel stipends to all eligible teens after a vetting process to ensure that everyone, no matter their background or
                     educational status can access life-changing partnerships with other teens.
                  </p>
               </div>
            </div>
         </div>
      </div>

      <hr />

      <div id='sponsors' class='bg-white text-center py-16'>
         <h1 class="text-3xl text-black font-['Poppins'] mx-4">Our sponsors, who will make this event possible</h1>
         <h1 class="text-3xl my-4 mb-8 text-black font-['Poppins']">💖💖💖</h1>
         <style>
            .sponsor {
               display: inline-block;
               width: 400px;
               margin: 2rem 3rem;
            }
            .sponsor.square {
               height: 100px;
               width: 100px;
            }

            @media (max-width: 768px) {
               .sponsor {
                  display: block;
                  width: 100%;
                  height: auto;
                  max-width: calc(100vw - 10rem);
                  margin: 3rem 5rem;
               }
               .sponsor.square {
                  height: auto;
                  width: 80px;
               }
            }
            html {
               background-color: black;
            }
         </style>
         <Image class='sponsor' src='/logos/disney-on-light.svg' alt='Disney logo' width={400} height={200} />
         <Image class='sponsor' src='/logos/redbull.svg' alt='Redbull logo' width={400} height={200} />
         <Image class='sponsor' src='/logos/desmos-on-light.png' alt='Desmos non-profit logo' width={400} height={200} />
         <Image
            class='sponsor bg-[#222] rounded-xl'
            src='/logos/codeforcause.png'
            alt='Code for Cause logo and text'
            width={400}
            height={200}
         />
         <Image class='sponsor' src='/logos/1password-blue.svg' alt='1Password logo' width={400} height={200} />
         <Image class='sponsor' src='/logos/axure.svg' alt='Axure logo' width={400} height={200} />
         <Image class='sponsor' src='/logos/codecrafters.png' title='Code Crafters' alt='Code Crafters logo' width={400} height={200} />

         <br />
         <br />
         <hr />
         <br />
         <br />
         <div>
            <h2 class='text-2xl py-2'>✨ Individual Sponsors ✨</h2>
            <p>John Tan-Aristy</p>
         </div>
      </div>
   </div>
   <script>
      import { gsap } from "gsap";
      import { ScrollTrigger } from "gsap/ScrollTrigger";
      import { TextPlugin } from "gsap/TextPlugin";
      gsap.registerPlugin(ScrollTrigger);

      document.addEventListener("DOMContentLoaded", () => {
         gsap.fromTo(".coolgradient", { opacity: "0" }, { opacity: "1", duration: 2, repeat: 0 });
         gsap.to(".scaleit", {
            scale: 2,
            duration: 1
         });

         gsap.fromTo(
            ".reveal",
            {
               rotation: 10
            },
            {
               rotation: 0,
               duration: 0.5
            }
         );
      });

      gsap.fromTo(
         ".strangemoon",
         {
            height: "130vw"
         },
         { height: "160vw", duration: 1, repeat: 0 }
      );
   </script>
</BaseLayout>
